h1 {
  font-family: 'Nova Round', cursive;
  color: rgb(255, 255, 255);
}
p {
  font-family: sans-serif;
  margin: auto;
  max-width: 1280px;
  color: rgb(255, 255, 255);
}
body {
  
  background-image: url("ss035.gif");
  background-repeat: repeat;
  background-color: #cccccc;
}